{% extends "::base.html.twig" %}

{% block title %}AppBundle:Security:error{% endblock %}

{% block body %}
<h1>Welcome to the Security:error page</h1>
    <p>There was an error logging you in. You may not be authorized to use this app.</p>
{% endblock %}
